<div class="container">

  <div class="form-group">
    <label for="Nome">Nome</label>
    <input type="text" class="form-control" id="Nome">
  </div>
  <div class="form-group">
    <label for="Telefone">Telefone</label>
    <input type="text" class="form-control" id="Telefone">
  </div>
  <div class="form-group">
    <label for="Cargo">Cargo</label>
    <input type="text" class="form-control" id="Cargo">
  </div>
  <div class="form-group">
    <label for="Problema">Problema relatado ou sujestão</label>
    <textarea class="form-control" id="Problema" rows="3"></textarea>
  </div>
  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Envie uma Foto</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
  <app-alerta>

  </app-alerta>
</div>